.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Star Jedi", sans-serif;
    color: #fff;
    background: linear-gradient(180deg, #000, #1c1c1c);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #fff;
    max-width: 50rem;
    margin: 0 auto;
  
    label {
      margin-bottom: 1rem;
    }
  
    input {
      padding: 0.5rem;
      border: none;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }
  
    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.5rem;
      margin-top: 1rem;
      cursor: pointer;
      transition: all 0.2s ease;
  
      &:hover {
        background-color: #ffd700;
        color: #000;
      }
  
      &:first-of-type {
        background-color: #0080ff;
      }
  
      &:nth-of-type(2) {
        background-color: #ff3333;
      }
  
      &:last-of-type {
        background-color: #32cd32;
      }
    }
  }